<!-- Navbar (sit on top) -->



<div class="w3-bar w3-top w3-blue-gray w3-large" style="z-index:4">
  <a href="{% url "dashboard" %}"> <button class="w3-bar-item w3-left">DASHBOARD</button> </a>
  <a href= "{% url "prologin" %}"> <button class="w3-bar-item w3-right">LOGIN</button> </a>
  <a href="{% url "proregister" %}"> <button class="w3-bar-item w3-right">REGISTER</button> </a>
</div>




<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white " style="margin-top:43px;">

  <!-- Header -->
  <header class="w3-container w3-blue-gray w3-border-amber w3-text-white" style="padding-top:22px">
    <h2 class="w3-text-white w3-center "><b><i class="fa fa-dashboard"></i> Service Provider Dashboard</b></h2>
       <input type="text" id="provsearch" onkeyup="myFunction()" placeholder="Search..." class="pull-right w3-block w3-text-black w3-round-xxlarge">

  </header>