<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-blue-gray w3-card-2" id="myNavbar">
    <a href="{% url "home" %}" class="w3-bar-item w3-button w3-wide">HEALTHIER</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
     <img alt="@femain" class="avatar" src="https://avatars0.githubusercontent.com/u/30289369?v=4&amp;s=40" height="20" width="20">
      <a href="{% url "personal_health" %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i>PERSONAL HEALTH </a>
      <a href="{% url "trend" %}" class="w3-bar-item w3-button"><i class="fa fa-th"></i>HEALTH TRENDS</a>
      <a href="{% url "test_reports" %}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>REPORTS & VACCINES</a>
        <a href="{% url "requests" %}" class="w3-bar-item w3-button"><i class="fa fa-bars"></i>REQUESTS</a>
         <a href="{% url "consult" %}" class="w3-bar-item w3-button"><i class="fa fa-cog"></i>CONSULTS</a>




    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>

  <a href="{% url "personal_health" %}" onclick="w3_close()" class="w3-bar-item w3-button">PERSONAL HEALTH</a>
  <a href="{% url "trend" %}" onclick="w3_close()" class="w3-bar-item w3-button">HEALTH TRENDS</a>
  <a href="{% url "test_reports" %}" onclick="w3_close()" class="w3-bar-item w3-button">REPORTS & VACCINES</a>
     <a href="{% url "requests" %}" onclick="w3_close()" class="w3-bar-item w3-button">REQUESTS</a>
      <a href="{% url "consult" %}" onclick="w3_close()" class="w3-bar-item w3-button">CONSULTS</a>
</nav>
       