{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}

<!--Cancer Screening-->
 <div class="w3-container  w3-topbar w3-bottombar w3-border-amber">
<div class="w3-row-padding text-center" id="cancer" style="margin-top:60px">

             <h3 class="w3-center">Cancer Screening</h3>

            <div class="w3-row" style="margin-top:44px">
                <div class="w3-col s4">
                <a href="{% url "service_list" %}" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                    <p>Breast</p>
                </div>
                <div class="w3-col s4">
                    <a href="{% url "service_list" %}" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                <p>Cervical</p></div>
                <div class="w3-col s4">
        <a href="{% url "service_list" %}" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
        <p>Prostate</p>
        </div>
        </div>

                 <div class="w3-row" style="margin-top:44px">

      <div class="w3-col s4">  <a href="{% url "service_list" %}" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
          <p>Colon</p>
        </div>
                     <div class="w3-col s4"><a href="{% url "service_list" %}" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
                         <p>Uterine</p>
                         </div>
       <div class="w3-col s4"> <a href= "{% url "service_list" %}" ><i class="fa fa-hospital-o" style="font-size:44px;"></i></a> <p>Liver</p>
     </div>   </div>

        <div class="w3-row" style="margin-top:44px">
    <div class="w3-col s4">        <a href="{% url "service_list" %}"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Lung</p></div>
    <div class="w3-col s4">    <a href="{% url "service_list" %}"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Stomach</p></div>
      <div class="w3-col s4">  <a href="{% url "service_list" %}"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Brain</p></div>
        </div>


        <div class="w3-row" style="margin-top:44px">
            <div class="w3-col s4">
            <a href="{% url "service_list" %}"><i class="fa fa-medkit" style="font-size:44px;"></i></a> <p>Bone</p></div>
            <div class="w3-col s4">
        <a href="{% url "service_list" %}"><i class="fa fa-h-square" style="font-size:44px;"></i></a> <p>Testes</p></div>

<div class="w3-col s4">
        <a href="{% url "service_list" %}"><i class="fa fa-ambulance" style="font-size:44px;color:white"></i></a> <p>Pancreas</p></div>
       </div>

        <div class="w3-row" style="margin-top:44px">

          <div class="w3-col s4">  <a href="{% url "service_list" %}"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Kidney</p></div>
          <div class="w3-col s4"> <a href="{% url "service_list" %}" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXXX</p></div>
     <div class="w3-col s4">   <a href="{% url "service_list" %}"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXXX</p></div>

        </div>

     </div>
  </div>


{% endblock content %}