

{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}



<!--Clinics-->
 <div class="w3-container  w3-topbar w3-bottombar w3-border-amber">
<div class="w3-row-padding text-center" id="clinics" style="margin-top:60px">

<h3 class="w3-center">Clinics</h3>

            <div class="w3-row-padding" style="margin-top:44px">
                <div class="w3-col s4">
                <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                    <p>General Physician</p>
                </div>
                <div class="w3-col s4">
                    <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                <p>Psychiatrist</p></div>
                <div class="w3-col s4">
        <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
        <p>Hypertension</p>
        </div>
        </div>

                 <div class="w3-row-padding" style="margin-top:44px">

      <div class="w3-col s4">  <a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
          <p>Diabetes</p>
        </div>
                     <div class="w3-col s4"><a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
                         <p>Cardiology</p>
                         </div>
       <div class="w3-col s4"> <a href="#" ><i class="fa fa-hospital-o" style="font-size:44px;"></i></a> <p>Pulmonology</p>
     </div>   </div>

        <div class="w3-row" style="margin-top:44px">
    <div class="w3-col s4">        <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Nephrology</p></div>
    <div class="w3-col s4">    <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Rheumatology</p></div>
      <div class="w3-col s4">  <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Endocrinology</p></div>
        </div>


        <div class="w3-row" style="margin-top:44px">
            <div class="w3-col s4">
            <a href="#"><i class="fa fa-medkit" style="font-size:44px;"></i></a> <p>Pain & Arthritis</p></div>
            <div class="w3-col s4">
        <a href="#"><i class="fa fa-h-square" style="font-size:44px;"></i></a> <p>Ante-Natal</p></div>

<div class="w3-col s4">
        <a href="#"><i class="fa fa-ambulance" style="font-size:44px;color:white"></i></a> <p>Geriatric</p></div>
       </div>

        <div class="w3-row" style="margin-top:44px">

          <div class="w3-col s4">  <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Urology</p></div>
          <div class="w3-col s4"> <a href="#" ><span class="icon-neurology"aria-hidden="true" style="font-size:44px;"></span></a> <p>Neurology</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>NeuroSurgery</p></div>

        </div>
       <div class="w3-row" style="margin-top:44px">

        <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:36px;"></i></a> <p>Gastro-Intestinal</p></div>
         <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Physiotherapy</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Oncology</p></div>
       </div>

                 <div class="w3-row" style="margin-top:44px">

        <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:36px;"></i></a> <p>Paediatrics</p></div>
         <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Ear,Nose & Throat</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Dermatology</p></div>
       </div>

                 <div class="w3-row" style="margin-top:44px">

        <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:36px;"></i></a> <p>Paediatric Surgery</p></div>
         <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Orthopaedic Surgery</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Opthalmology</p></div>
       </div>

                 <div class="w3-row" style="margin-top:44px">

        <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:36px;"></i></a> <p>Sleep Clinic</p></div>
         <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXX</p></div>
     <div class="w3-col s4">   <a href="#"><i class="icon-restrooms" style="font-size:44px;"></i></a> <p>XXX</p></div>
       </div>

  </div>


</div>

{% endblock content %}

