{% extends "myhealthier.html" %}
{% load staticfiles %}
          {% block content %}
          <form method="get" action= "{% url 'consult'  %}">
     {% csrf_token %}

<div class="w3-container  w3-pale-blue w3-topbar w3-bottombar w3-padding-48 w3-border-amber w3-theme-d5">
    <div class=" w3-card-4 w3-pale-blue w3-margin w3-round-large ">

<h3 class="w3-center w3-text-black"><i class="fa fa-eye w3-margin-right w3-xxlarge w3-text-teal"></i> Consultation Notes</h3>
{% for consulte in consults %} 
 <div class = "w3-margin w3-padding">
<p class="pull-left w3-text-black"><i class="fa fa-calendar w3-margin-right w3-large "></i> Search Date</p>
<br><br>

        <p>   <b>Presenting Complaints:</b> {{ consulte.presenting_complaints }}              
                  
            <b>Examination Findings:</b> {{ consulte.general_findings }}<br><br>    </p>           
              
        <p>    <b>Treatment Plan:</b> {{ consulte.treatment_plan}}  
            <b>Next Appointment:</b> {{ consulte.next_appointment}}<br><br> </p>
            <b>Consulting Staff:</b> {{ consulte.name_staff}}<br><br> </p>



    <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>
      </div>

 {% endfor %} 
     </div>
</div>
    </form>
           {% endblock content %}