{% extends "myhealthier.html" %}
{% load staticfiles %}
          {% block content %}

<div class="w3-container  w3-card-2 w3-pale-blue w3-topbar w3-bottombar w3-padding-48 w3-border-amber"id="bgimg-3" style="background-image: url('{% static "new_project/python3.png" %}')";>
    <div class=" w3-card-2 w3-pale-blue w3-margin w3-round-large ">

<h3 class="w3-center w3-text-black"><i class="fa fa-eye w3-margin-right w3-xxlarge w3-text-teal"></i> Consultation Notes</h3>
 <div class = "w3-margin w3-padding">
<p class="pull-left w3-text-black"><i class="fa fa-calendar w3-margin-right w3-large "></i> Search Date</p>


    <p> <input class="w3-input w3-border w3-round-large" name="details" type="text" placeholder="Presenting Complaints"></p>

  <p><input class="w3-input w3-border w3-round-large" name="day" type="text" placeholder="Examination Findings"></p>
  <p> <input class="w3-input w3-border w3-round-large" name="time" type="text" placeholder="Treatment Plan"></p>
   <p> <input class="w3-input w3-border w3-round-large" name="time" type="text" placeholder="Next Appointment"></p>
    <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>


       </div>
     </div>
</div>
           {% endblock content %}