{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}

          {% load staticfiles %}


<!--Diagnostics-->


             <div class="w3-container  w3-topbar w3-bottombar w3-border-amber">
<div class="w3-row-padding text-center" id="diagnostics" style="margin-top:60px">

             <h3 class="w3-center">Diagnostics</h3>

            <div class="w3-row" style="margin-top:44px">
                <div class="w3-col s4">
                <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                    <p>Computer Tomography (CT)</p>
                </div>
                <div class="w3-col s4">
                    <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                <p>Magnetic Resonance Imaging (MRI)</p></div>
                <div class="w3-col s4">
        <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
        <p>Ultrasound Scan And Imaging</p>
        </div>
        </div>

                 <div class="w3-row" style="margin-top:44px">

      <div class="w3-col s4">  <a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
          <p>X-Rays Imaging</p>
        </div>
                     <div class="w3-col s4"><a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
                         <p>Electrocardiogram (ECG)</p>
                         </div>
       <div class="w3-col s4"> <a href="#" ><i class="fa fa-hospital-o" style="font-size:44px;"></i></a> <p>Echocardiogram (ECHO)</p>
     </div>   </div>

        <div class="w3-row" style="margin-top:44px">
    <div class="w3-col s4">        <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Electroencephalography (EEG)</p></div>
    <div class="w3-col s4">    <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Genetics</p></div>
      <div class="w3-col s4">  <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Histopathology</p></div>
        </div>


        <div class="w3-row" style="margin-top:44px">
            <div class="w3-col s4">
            <a href="#"><i class="fa fa-medkit" style="font-size:44px;"></i></a> <p>Cytology</p></div>
            <div class="w3-col s4">
        <a href="#"><i class="fa fa-h-square" style="font-size:44px;"></i></a> <p>Blood Tests</p></div>

<div class="w3-col s4">
        <a href="#"><i class="fa fa-ambulance" style="font-size:44px;color:white"></i></a> <p>Biochemistry</p></div>
       </div>

        <div class="w3-row" style="margin-top:44px">

          <div class="w3-col s4">  <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Microbiology</p></div>
          <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Serology</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXXX</p></div>

        </div>


  </div>




</div>


{% endblock content %}