{% extends "myhealthier.html" %}
{% load staticfiles %}
{% load scheduletags %}
          {% block content %}
    <form method="post" action="{% url 'requests'  %}">
     {% csrf_token %}

     <div class="w3-container w3-card-4 w3-margin w3-round-large  w3-padding-48 w3-border-amber w3-theme-d4"  >
<div class ="w3-card-4 w3-pale-blue w3-margin w3-round-large w3-padding">
<h3 class="w3-center w3-text-black"><i class="fa fa-bars w3-margin-right w3-xxlarge w3-text-teal"></i> Downloads,Requests</h3>
       {% for request in requests %} 

<button class="w3-button w3-large w3-pale-blue" ><i class="fa fa-calendar"></i> Search by Date</button></p>

<div class="w3-margin w3-padding">
 <table class="w3-table w3-bordered w3-border " id="labTable">
<thead>
<tr class="w3-orange">
  <th>Select</th>
  <th>Request Date</th>
  <th>Request Type</th>
  <th>Request</th>

</tr>
</thead>
<tr>
  <td><input type="radio" name="tbodRadio" value="0"></input></td>
  <th>{{ request.request_date }}</th>
  <th>{{ request.request_type }}</th>
  <th>{{ request.name }}</th>

</tr>
<tr>
 <td><input type="radio" name="tbodRadio" value="0"></input></td>
 
  <th>{{ request.request_date }}</th>
  <th>{{ request.request_type }}</th>
  <th>{{ request.name }}</th>
</tr>
<tr>
    <td><input type="radio" name="tbodRadio" value="0"></input></td>

   <th>{{ request.request_date }}</th>
  <th>{{ request.request_type }}</th>
  <th>{{ request.name }}</th>
</tr>
</table>

<hr>

 <div class="w3-padding">
    <label for="{{ form.service_provider.id_for_label }}">Send Request/Prescription To:</label>
    {{ form.service_provider}}</div>
 <button type="submit" class="w3-button w3-block w3-orange w3-round-xxlarge">Submit</button>

  <hr>
   <p><b> Quote By Medical Assistance/Ambulance Provider:</b>{{ report.serv_provider }} </p>

 <button type="submit" class="w3-button w3-block w3-black w3-round-xxlarge">+ Checkout Cart</button>
<hr>


<a href="#prescriptions" class="w3-bar-item w3-button w3-round-xxlarge w3-block w3-blue-gray">View Attached Reports</a>

<hr>
  <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>

 {% endfor %} 


</div>
</div>
</div>

</form>
           {% endblock content %}