{% extends "myhealthier.html" %}
{% load staticfiles %}
{% load scheduletags %}
          {% block content %}
    <form method="post" action="">
     {% csrf_token %}

     <div class="w3-container w3-card-4 w3-margin w3-round-large  w3-padding-48 w3-border-amber w3-theme-d4"  >
<div class ="w3-card-2 w3-pale-blue w3-margin w3-round-large ">
<h3 class="w3-center w3-text-black"><i class="fa fa-bars w3-margin-right w3-xxlarge w3-text-teal"></i> Downloads,Requests</h3>

<div class = "w3-margin w3-padding w3-white">
    <button class="w3-button w3-large w3-white" ><i class="fa fa-calendar"></i> Search by Date</button></p>
  <p><input class="w3-input w3-border w3-round-large" name="day" type="text" placeholder="Request Type; Test, Prescription, Quotes"></p>
  <p> <input class="w3-input w3-border w3-round-large" name="time" type="text" placeholder="value, test request, prescription"></p>

  <p><b>Send Request/Prescription To:</b></p>
      <select class="form-control" name="option" w3-round-large>
    <option value="1" disabled selected> Service Providers</option><!--Choose date data was measured-->
      </select>
  <hr>
<a href="#prescriptions" class="w3-bar-item w3-button w3-round-xxlarge w3-block w3-blue-gray">View Attached Reports</a>

<hr>

  <p><input class="w3-input w3-border w3-round-large" name="day" type="text" placeholder="Quote By Medical Assistance/Ambulance Provider"></p>
 <button type="submit" class="w3-button w3-block w3-black w3-round-xxlarge">+ Checkout Cart</button>
<hr>
  <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>



</div>
</div>
</div>
<ul>
    {% for article in object_list %}
        <li>{{ article.pub_date|date:"F j, Y" }}: {{ article.title }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}
</p>
</form>
           {% endblock content %}