{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}

          {% load staticfiles %}


<!--Health Checks-->

 <div class="w3-container  w3-topbar w3-bottombar w3-border-amber">
<div class="w3-row-padding text-center" id="hchecks" style="margin-top:60px">

             <h3 class="w3-center"> Health Checks </h3>

            <div class="w3-row" style="margin-top:44px">
                <div class="w3-col s4"><a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                    <p> Glaucoma Eye Test</p>
                </div>
                <div class="w3-col s4">
                    <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                <p>Audiological Ear Test</p></div>
                <div class="w3-col s4">
        <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
        <p>Liver Check</p>
        </div>
        </div>

                 <div class="w3-row" style="margin-top:44px">

      <div class="w3-col s4">  <a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
          <p>Kidney Check</p>
        </div>
                     <div class="w3-col s4"><a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
                         <p>Thyroid Check</p>
                         </div>
       <div class="w3-col s4"> <a href="#" ><i class="fa fa-hospital-o" style="font-size:44px;"></i></a> <p>Hepatitis B Check</p>
     </div>   </div>

        <div class="w3-row" style="margin-top:44px">
    <div class="w3-col s4">        <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Basic Health Check</p></div>
    <div class="w3-col s4">    <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Comprehensive Health Check</p></div>
      <div class="w3-col s4">  <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>HbAic Diabetes Check</p></div>
        </div>


        <div class="w3-row" style="margin-top:44px">
            <div class="w3-col s4">
            <a href="#"><i class="fa fa-medkit" style="font-size:44px;"></i></a> <p>Pre-Employment Check</p></div>
            <div class="w3-col s4">
        <a href="#"><i class="fa fa-h-square" style="font-size:44px;"></i></a> <p>XXX</p></div>

<div class="w3-col s4">
        <a href="#"><i class="fa fa-ambulance" style="font-size:44px;color:white"></i></a> <p>XXX</p></div>
       </div>


  </div>





{% endblock content %}