{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/w3.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
         <link rel="stylesheet" href="{% static "css/wfmi-style.css" %}">
            <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <title>Healthier Mobile App</title>
</head>
<body>
    <!-- Navbar (sit on top) -->
    {% include "includes/navigation.html" %}
{% block content %}

<!-- Header with full-height image -->
<header class=" w3-grayscale-min w3-hover-opacity w3-padding" id="bgimg-7" style="background-image: url('{% static "new_project/python7.jpeg" %}')";>
            <img src="{% static "new_project/hthumbnail.png" %}"  alt="Logo" >
  <h2 class= "w3-center w3-text-white">Healthier</h2>
  <h4 class= "w3-center w3-text-white">Get The Best Healthcare With Your <b>Healthier</b> Personal Health Manager</h4>

    <div class=" w3-container w3-white w3-margin w3-topbar w3-bottombar w3-border-amber w3-card-4  w3-text-black" >
          {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
            <div class="w3-row-padding w3-center" style="margin-top:100px">
                <div class="w3-col s3 w3-center"><a href= "{% url "vaccines" %}"  ><i class="fa fa-bars" style="font-size:36px;color:black"></i></a>  <p>Vaccines</p></div>
                <div class="w3-col s3"><a href= "{% url "cancer_screen" %}"  ><i class="fa fa-heartbeat" style="font-size:36px;color:black"></i></a> <p>Cancer Screening</p></div>
                <div class="w3-col s3"><a href= "{% url "service_list" %}"  ><i class="fa fa-heartbeat" style="font-size:36px;color:red"></i></a>  <p>The Heart Tracker</p></div>
                <div class="w3-col s3">  <a href="{% url "health_checks" %}"  ><i class="fa fa-check-square-o" style="font-size:36px;color:orange"></i></a> <p>Health Checks</p>
        </div>
            </div>


            <div class="w3-row-padding w3-center" style="margin-top:30px">
                     <div class="w3-col s3"> <a href= "{% url "clinics" %}"  ><i class="fa fa-bars" style="font-size:36px;color:black"></i></a> <p>Clinics</p></div>
                  <div class="w3-col s3">  <a href= "{% url "diagnostics" %}" ><i class="fa fa-user-md" style="font-size:36px;color:orange"></i></a> <p>Diagnostics</p></div>
                     <div class="w3-col s3"><a href= "{% url "procedures" %}" ><i class="fa fa-h-square" style="font-size:36px;color:orange"></i></a> <p>Procedures</p></div>
                  <div class="w3-col s3">    <a href= "{% url "drugs" %}" ><i class="fa fa-stethoscope" style="font-size:36px;"></i></a> <p>Drugs</p></div>
                 </div>



        <div class="w3-row-padding w3-center" style="margin-top:30px">
                <div class="w3-col s3 "><a href= "{% url "service_list" %}" ><i class="fa fa-stethoscope" style="font-size:36px;color:gray"></i></a> <p>Foreign Medical Treatment</p></div>
           <div class="w3-col s3"><a href= "{% url "ambulance" %}" ><i class="fa fa-ambulance" style="font-size:36px;color:gray"></i></a> <p>Ambulance & Medical Assistance</p></div>
           <div class="w3-col s3">  <a href= "{% url "service_list" %}" ><i class="fa fa-stethoscope" style="font-size:36px;"></i></a> <p>Health Insurance/Others</p></div>
     <div class="w3-col s3"> <a href= "{% url "service_list" %}"  ><i class="fa fa-user-md" style="font-size:36px;color:gray"></i></a> <p>Talk To A Doctor</p></div>
        </div>


        <div class="w3-row-padding w3-center" style="margin-top:30px">

       </div>

        <div class="w3-row-padding w3-center" style="margin-top:30px">
         <div class="w3-col s3">        <a href= "{% url "service_list" %}" ><i class="fa fa-stethoscope" style="font-size:36px;color:gray"></i></a> <p>Medical Concierge Services</p></div>
         <div class="w3-col s3">   <a href= "{% url "service_list" %}"><i class="fa fa-user-md" style="font-size:36px;color:gray"></i></a> <p>Weight Management</p></div>
         <div class="w3-col s3">   <a href= "{% url "service_list" %}"><i class="fa fa-user-md" style="font-size:36px; color:orange"></i></a> <p>Sexual Health</p></div>
             <div class="w3-col s3">   <a href= "{% url "service_list" %}"><i class="fa fa-stethoscope" style="font-size:36px;color:orange"></i></a> <p>Gym & Fitness Services</p></div>
       </div>



  </div>


</header>




{% endblock content %}

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">

  <div class="w3-large w3-section">
   Footer Content coming soon
  </div>
</footer>

<script>
function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</body>
</html>