{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}




<!--Procedures-->

    <div class="w3-container w3-topbar w3-bottombar w3-border-amber">
<div class="w3-row-padding text-center" id="procedures" style="margin-top:60px">

             <h3 class="w3-center">Procedures</h3>

            <div class="w3-row" style="margin-top:44px">
                <div class="w3-col s4">
                <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                    <p>Dental</p>
                </div>
                <div class="w3-col s4">
                    <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
                <p>Excisions and Biopsy</p></div>
                <div class="w3-col s4">
        <a href="#" ><i class="fa fa-heartbeat" style="font-size:44px;color:red"></i></a>
        <p>Endoscopy</p>
        </div>
        </div>

                 <div class="w3-row" style="margin-top:44px">

      <div class="w3-col s4">  <a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
          <p>Chest & AbdominoPelvic</p>
        </div>
                     <div class="w3-col s4"><a href="#" ><i class="fa fa-check-square-o" style="font-size:44px;"></i></a>
                         <p>Orthopedic</p>
                         </div>
       <div class="w3-col s4"> <a href="#" ><i class="fa fa-hospital-o" style="font-size:44px;"></i></a> <p>Obstetrics/Gynecological</p>
     </div>   </div>

        <div class="w3-row" style="margin-top:44px">
    <div class="w3-col s4">        <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Ante-Natal Care</p></div>
    <div class="w3-col s4">    <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Ear,Nose & Throat</p></div>
      <div class="w3-col s4">  <a href="#"><i class="fa fa-stethoscope" style="font-size:44px;"></i></a> <p>Opthalmology</p></div>
        </div>


        <div class="w3-row" style="margin-top:44px">
            <div class="w3-col s4">
            <a href="#"><i class="fa fa-medkit" style="font-size:44px;"></i></a> <p>Critical Care</p></div>
            <div class="w3-col s4">
        <a href="#"><i class="fa fa-h-square" style="font-size:44px;"></i></a> <p>Mental Health</p></div>

<div class="w3-col s4">
        <a href="#"><i class="fa fa-ambulance" style="font-size:44px;color:white"></i></a> <p>Other Procedures</p></div>
       </div>

        <div class="w3-row" style="margin-top:44px">

          <div class="w3-col s4">  <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>Cranial Procedures</p></div>
          <div class="w3-col s4"> <a href="#" ><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXXX</p></div>
     <div class="w3-col s4">   <a href="#"><i class="fa fa-user-md" style="font-size:44px;"></i></a> <p>XXXX</p></div>

        </div>


  </div>




</div>


{% endblock content %}