{% extends "index.html" %}
{% load staticfiles add_attr %}
          {% block content %}

 <form method="post" action="{% url "proregister" %}">
     {% csrf_token %}


 <!-- Service Providers -->
<div class="w3-container "  id="bgimg-2" style="background-image: url('{% static "new_project/python2.png" %}')">
     <div class="w3-card-4 w3-padding-48 w3-margin w3-round-large w3-white ">
  <h3 class="w3-center">SERVICE PROVIDERS</h3>
  <p class="w3-center w3-large">Do you provide World-class? Create Your Account TODAY!!!:</p>
  <div class="w3-row-padding" style="margin-top:32px">
      <p><i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"> </i> Email: healthier{at}bestratedhospitals.org</p>
      <br>


               {{provreg_form.org_name|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round,placeholder:Organization"}}
         <!-- <input class="w3-input w3-border w3-round-large" type="text" placeholder="Email" required name="Email"> -->
               {{provreg_form.email|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round,placeholder:Email"}}
        <!-- <input class="w3-input w3-border w3-round-large" type="text" placeholder="Password" required name="Password"></p> -->
               {{provreg_form.password1|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round,placeholder:Password"}}
        <!-- <p><input class="w3-input w3-border w3-round-large" type="text" placeholder="Confirm Password" required name="CPassword"></p> -->
               {{provreg_form.password2|add_attributes:"class:w3-input w3-border w3-margin-bottom w3-round,placeholder:Confirm Password"}}
          <button class="w3-button w3-btn w3-black w3-block w3-round-xxlarge" type="submit"><i class="fa fa-paper-plane"></i> CREATE ACCOUNT</button>  <!--Receive email link to download Healthier Dashboard Application-->

         <p class="w3-center ">By continuing, you accept the Terms of Use and Privacy Policy</p>



  </div>
</div>
</div>
 </form>
   {% endblock content %}