{% extends "dashboard.html" %}
{% load staticfiles  %}
          {% block content %}


 <form method="post" action="{% url 'provider_profile' %}">
     {% csrf_token %}



              <!-- Provider Edit -->
<div class="w3-content w3-margin-top   w3-topbar w3-bottombar w3-border-amber " id="bgimg-2" style="background-image: url('{% static "new_project/python2.png"%}');>

    <div class="w3-container  w3-card-4 w3-round-large w3-section ">
         <h3 class="w3-center w3-text-black"><i class="fa fa-envelope w3-margin-right w3-xxlarge w3-text-teal"></i> Provider Profile</h3>
      
         <div class="w3-padding w3-margin w3-card-4 w3-light-grey">
 
        {% for profile in profile %}
        <i><b>Organization:</i></b> {{ profile.org_name }}<br>
        <img src="/images{{ profile.pro_logo }}" height="200" width="200"></img><br>
        <i class="fa fa-home fa-fw><b>Address:</i></b> {{ profile.address }}<br>
        <i class="fa fa-home fa-fw><b>City:</i></b> {{ profile.city }}<br>
        <i class="fa fa-globe fa-fw><b>Country:</i></b> {{ profile.country }}<br><br>
        <i class="fa fa-phone fa-fw ><b>Phone Number:</i></b> {{ profile.phone_number }}<br><br>
        <i class="fa fa-envelope fa-fw><b>Provider Email:</i></b> {{ profile.email }}<br><br>
        <i class="fa fa-eye fa-fw ><b>Password:</i></b> {{ profile.password }}<br><br>  
        <i class="fa fa-eye fa-fw ><b>Website:</i></b> {{ profile.portal }}<br><br>               
       {% endfor %}
          <button class="w3-button w3-blue-gray w3-block w3-padding w3-round-xxlarge">Edit Profile</button>
         
<p><b>Register Account Details</b></p>
   </div>
    </div>

</div>



</form>
   {% endblock content %}