{% extends "myhealthier.html" %}
{% load staticfiles %}
          {% block content %}
<!--Medical Services Reports-->
<form method="get" action= "{% url 'test_reports'  %}">
     {% csrf_token %}

<div class=" w3-container w3-topbar w3-bottombar w3-border-amber w3-pale-blue w3-margin w3-round-large w3-padding-64" id="bgimg-2" style="background-image: url('{% static "new_project/python2.png"%}');>
   <div class= "w3-row w3-padding"> 
    
     <div class=" w3-col m6 w3-card-4  w3-white w3-margin w3-padding w3-round-large" >
       {% for report in reports %} 
<h3 class="w3-center "><i class="fa fa-envelope   w3-margin-right w3-xxlarge w3-text-teal"></i> Reports | Vaccines </h3>
<p class="pull-left "><i class="fa fa-calendar w3-margin-right w3-large "></i> Search Date</p>
<br><br>
 <p><b> Service Provider:</b>{{ report.serv_provider }} </p>
  <p><b> Service Ordered:</b>{{ report.serv_ordered }} </p>
  <p><b> Report Type:</b>{{ report.sentreport.report_type}} </p>
  <p><b> Result:</b>{{ report.sentreport.general_findings}} </p>
  <p><b> Vaccine Batch Number:</b>{{ report.sentreport.vaccine_batchnumber}} </p>
  <p><b> Vaccine Expiry Date:</b>{{ report.sentreport.vaccine_expirydate}} </p>
  <p><b> Staff:</b>{{ report.sentreport.name_staff}} </p>
  <p><b> Next Appointment:</b>{{ report.sentreport.next_appointment}} </p>
  <p><b> Other Comments:</b>{{ report.sentreport.treatment_plan}} </p>

   <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>
</div>



<div class="w3-col m6 w3-container w3-card-4 w3-pale-blue w3-margin w3-padding-24 w3-round-large " >

<h3 class="w3-center w3-text-black"><i class="fa fa-bars w3-margin-right w3-xxlarge w3-text-teal"></i> Measured Test Report</h3>
<p class="pull-left w3-text-black"><i class="fa fa-calendar w3-margin-right w3-large "></i> Search Date</p>
     

 <table class="w3-table w3-bordered w3-border" id="labTable">
<thead>
<tr class="w3-orange">
  <th>Test Date</th>
  <th>Service</th>
  <th>Value</th>
  <th>Lower Range</th>
  <th>Upper Range</th>
</tr>
</thead>
<tr>
  <th>{{ report.measuredtest.service_date }}</th>
  <th>{{ report.measuredtest.service_test }}</th>
  <th>{{ report.measuredtest.value }}</th>
  <th>{{ report.measuredtest.lower_range }}</th>
  <th>{{ report.measuredtest.upper_range }}</th>
</tr>
<tr>
  <th>{{ report.measuredtest.service_date }}</th>
  <th>{{ report.measuredtest.service_test }}</th>
  <th>{{ report.measuredtest.value }}</th>
  <th>{{ report.measuredtest.lower_range }}</th>
  <th>{{ report.measuredtest.upper_range }}</th>
</tr>
<tr>
  <th>25/5/17</th>
  <td>Cholesterol</td>
  <td>110</td>
  <th>100</th>
  <th>165</th>
</tr>
</table>
<hr>
  <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>
</div>
</div>
 {% endfor %} 
</div>
</form>
 {% endblock content %}