{% extends "myhealthier.html" %}
{% load staticfiles %}
          {% block content %}
<!--Medical Services Reports-->
<form method="get" action= "{% url 'test_reports'  %}">
     {% csrf_token %}

<div class=" w3-container w3-topbar w3-bottombar w3-border-amber w3-pale-blue w3-margin w3-round-large w3-padding-48 w3-border-amber w3-theme-d5">
   <div class= "w3-row w3-padding"> 
    
     <div class=" w3-card-4  w3-pale-blue w3-margin w3-padding w3-round-large" >
<h3 class="w3-center "><i class="fa fa-envelope   w3-margin-right w3-xxlarge w3-text-teal"></i> Reports | Vaccines </h3>
    <button class="w3-button w3-large w3-pale-blue" ><i class="fa fa-calendar"></i> Search by Date</button></p>
       {% for report in reports %} 

 <p><b> Service Provider:</b>{{ report.service_prov }} </p>
  <p><b> Service Ordered:</b>{{ report.ordered_service }} </p>
  <p><b> Report Type:</b>{{ report.report_type}} </p>
  <p><b> Result:</b>{{ report.general_findings}} </p>
  <p><b> Vaccine Batch Number:</b>{{ report.vaccine_batchnumber}} </p>
  <p><b> Vaccine Expiry Date:</b>{{ report.vaccine_expirydate}} </p>
  <p><b> Staff:</b>{{ report.name_staff}} </p>
  <p><b> Next Appointment:</b>{{ report.next_appointment}} </p>
  <p><b> Other Comments:</b>{{ report.treatment_plan}} </p>

   <p><button class="w3-button w3-large w3-red" ><i class="fa fa-thumbs-down"></i> 7</button>
    <button class="w3-button w3-large w3-blue" ><i class="fa fa-thumbs-up"></i> 20</button></p>
</div>
 {% endfor %} 


</div>
</div>
</form>
 {% endblock content %}