{% extends "myhealthier.html" %}
{% load staticfiles %}
          {% block content %}
    <form method="post" action="{% url 'trend' %}">
     {% csrf_token %}
<div class="w3-container  w3-topbar w3-bottombar w3-padding-48 w3-border-amber w3-theme-d5">
        
            <div class=" w3-card-4 w3-text-white  w3-theme-d4  w3-round-large w3-padding-48" >


<h3 class="w3-center w3-text-white"><i class="fa fa-th w3-margin-right w3-xxlarge w3-text-white "></i> myHealth Trends</h3>

 <select class="form-control" name="option" w3-round-large>
    <option value="" disabled selected>Track Your Health Trends</option><!--Choose Service-->
    <option value="1">Systolic Blood Pressure</option>
    <option value="2">Diastolic Blood Pressure</option>
     <option value="3">Random Blood Sugar</option>
    <option value="4">Fasting Blood Sugar</option>
    <option value="5">Weight (kg)</option>
    <option value="6">Cholesterol</option>
     <option value="7">Current Drugs</option>

  </select>
 <div> Graph function for any selected parameter</div>
 Measurement Line Graph by Date for each Data Point 
 <button class="w3-button w3-blue-gray w3-block w3-padding w3-round-xxlarge">View Health Trends</button>
         </div>
  
</form>
           {% endblock content %}